.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__links {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: var(--font-raleway);
  font-weight: 500;
}

.navbar__links p {
  font-size: 20px;
  cursor: pointer;
  margin: 0 1rem;
}
.navbar__links p a {
  text-decoration: none;
  color: var(--color-link);
}

.navbar__logo {
  margin-top: 5px;
  cursor: pointer;
}

.navbar__logo img {
  width: 100px;
}

.navbar__buttons {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.navbar__buttons p {
  margin-right: 1rem;
  font-size: 22px;
  font-family: var(--font-raleway);
  font-weight: 500;
  color: var(--subscription);
  cursor: pointer;
}

.navbar__buttons img {
  margin-left: 1rem;
  color: var(--subscription);
  width: 24px;
  cursor: pointer;
}
